#acc{
    background-image: url(../img/noir-blanc.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#acc h1{
    margin-left: 15%;
}
#acc p{
    margin-left: 6%;
}
#histoire{
    height: 50vh;
}
.bloque{
    margin-left: 15%;
    padding-bottom: 50px;
}
#bicolor{
    background-image: url(../img/bicoloor.png);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 60vh;
    float: left;
    position: absolute;
}
#bicolor p{
    margin-left: 25%;
    margin-top: 5%;
}
#bicolor2{
    background-image: url(../img/bicolor.png);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 60vh;
    float: right;
}
#bicolor2 p{
    color: #ffaf87;
    margin-left: 40%;
    margin-top: 5%;
}

.h2lum{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 9%;
}
#bassin{
    height: 100vh;
    margin-left: 10%;
    display: flex;
}
.lumiere{
    flex-direction: column;
}
.photo-bassin{
    width: 50%;
    
}
.bassinlumiere{
    background-image: url(../img/bassin-des-lumières.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
}
#slide3{
    margin-bottom: 150px;
}