*{
   max-width: 1920px;
}
html{
   scroll-behavior: smooth;
}
header{
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: space-between;
   z-index: 500;
}
h1{
      font-size: 150px;
      font-family: "Anton";
      color: rgb(233, 228, 222);
      line-height: 1;
      text-align: left;
      z-index: 107;
}
h2{
      font-size: 60px;
      font-family: "Anton";
      color: rgb(255, 175, 135);
      line-height: 1.333;
      z-index: 110;    
}
 h1, h2{
   font-family: "Anton";
}
h3{
   font-family: "Poppins";
}
p{
   font-family: "Poppins";
   line-height: 2;
}
#back{
   background-image: url(../img/image-acceuil.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
}
/*************NAVBAR***************/
.logo{
   background-image: url(../img/LOGO.png);
   background-size: cover;
   background-position: center;
   width: 120px;
   height: 85px;
   position: absolute;
   cursor: pointer;
   margin: 30px;
   z-index: 1000;
   transition: 0.5s;
}
.logo:hover{
   background-image: url(../img/LogoV2-parallaxe.png);
}
.enclume{
   position: absolute;
   bottom: 10px;
   width: 100%;
   z-index: 1000;
}
.title{
   position: relative;
   display: inline-block;
   height: 150px;
   width: 100%;
}
.title h1{
   text-align: justify;
   margin-top: 15%;
   margin-left: 10%;
   font-family: "Anton";
}
.para{
   position: relative;
   margin-left: 10%;
   font-family: "Poppins";
   color: #ffaf87;
   font-size: 1.5rem;
   text-transform: uppercase;
}
.ancre{
   background-image: url(../img/Ancre.png);
   background-position: center;
   background-size: cover;
   height: 55px;
   width: 45px;
   cursor: pointer;
   margin-right: auto;
   margin-left: auto;
   transition: 0.3s;
}
.ancre:hover{
   background-image: url(../img/ancre-parallaxe.png);
   background-position: center;
   background-size: cover;
   height: 55px;
   width: 55px;
   cursor: pointer;
   margin-right: auto;
   margin-left: auto;
}
/* Section Medio acqua*/
#medio{
   display: flex;
   width: 100%;
   z-index: 1000;
}
#medio h2{
   display: flex;
   margin: 0;
}
.align-picto{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.clas{
   width: 52%;
   float: right
}
.clas1{
   width: 50%;
   float: left;
}
#medioacqua{
   background-image: url(../img/Medio-acqua.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 100%;
}
.txt{
   margin-left: 11%;
   margin-top: 3%;
   float: left;
}
.txt p{
      line-height: 2;
}
.pictoexpo{
   background-image: url(../img/Picto-expo.png);
   background-position: center;
   background-size: cover;
   width: 65px;
   height: 65px;
   margin-right: 10px;
   display: inline-block;
}
/*************SECTION BSM********************/
#bsm{
   display: flex;
   position: relative;
}
.txt2{
   margin-top: 3%;
   position: relative;
}
.txt2 p{
   line-height: 2;
}
#bsmdiag{
   background-image: url(../img/BSM-nb.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 100%;
}
.pictobsm{
   background-image: url(../img/Picto-bsm.png);
   background-position: center;
   background-size: cover;
   width: 65px;
   height: 65px;
   margin-right: 10px;
}
#bsm h2{
   margin: 0;
}
/******AGENDA**********/
#agenda{
   height: 50%;
   background-color: #1e1e1e;
   color: aliceblue;
   position: relative;
}
#agenda h2{
   text-align: center;
   padding-top: 40px;
   font-family: "Anton";
   color: rgb(253, 251, 251);
   line-height: 0.667;
   z-index: 23;
}
.para2{
   width: 50%;
   margin-right: auto;
   margin-left: auto;
}
#agenda p{
   text-align: justify;
   line-height: 2;
}
.pictoagenda{
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.pictomicro{
    background-image: url(../img/Picto-micro.png);
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 60px;
}
.pictospectacle{
    background-image: url(../img/Picto-spectacle.png);
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 60px;
}
.pictocine{
    background-image: url(../img/Picto-cine.png);
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 60px;
}
#agenda .pictoexpo{
   margin: 60px;
}
#agenda .button{
   margin-left: 0;
}
#agenda .container{
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   padding: 0;
}
iframe{
   width: 100%;
   height: 50vh;
}
